/*
CUSTOM STYLESHEET
---------------------
*/

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}

FooterContainer {
  background: black;
  width: 100%;
}

FooterLeft {
  float: left;
  width: 50%;
  height: 100px;
  margin: 0;
  text-decoration: none;
}
FooterLeft ul { list-style-type: none; padding: 0; }
FooterLeft ul a { text-decoration: none; color: inherit; }
FooterLeft ul a:hover { color: #f2f2f2; }

FooterRight {
  float: right;
  width: 50%;
  height: 100px;
  margin: 0;
  text-decoration: none;
}
FooterRight ul { list-style-type: none; padding: 0; }
FooterRight ul a { text-decoration: none; color: inherit; }
FooterRight ul a:hover { color: #f2f2f2; }
