@charset "UTF-8";
/* CSS CUSTOM STYLESHEET */

FooterLeft {
	background: inherit;
  float: left;
  width: 50%;
  height: 100px;
  margin: 0;
  text-decoration: none;
}
FooterLeft ul { list-style-type: none; padding: 0; color: #788387; }
FooterLeft ul a { text-decoration: none; color: #788387; }
FooterLeft ul a:hover { color: #f2f2f2; }

FooterRight {
  float: right;
  width: 50%;
  height: 100px;
  margin: 0;
  text-decoration: none;
}
FooterRight ul { list-style-type: none; padding: 0; color: #788387; }
FooterRight ul a { text-decoration: none; color: inherit; color: #788387; }
FooterRight ul a:hover { color: #f2f2f2; }
